@import url('https://fonts.googleapis.com/css?family=Dosis:300,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto+Condensed');
@import 'variable.scss';
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Dosis', sans-serif;
*/
body{
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 1.188em;
  letter-spacing: 1.5px;
}

/***** Hero section *****/
.hero{
  background-color: $color_rojo;
  color: $color_blanco;
  min-height: 100vh;
  background: url("../images/casaHispano.jpg") no-repeat left center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.header{
  width:100%;
  height: 60px;
  position:fixed;
  top:0;
  -webkit-box-shadow:inset 0 -3px 4px -3px rgba(0, 0, 0, 0.2);
          box-shadow:inset 0 -3px 4px -3px rgba(0, 0, 0, 0.2);
  background-color: $color_blanco;
  color: $color_rojo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
  opacity: .95;
  z-index: 1;
}
.header__logo{
  padding-left: 1em;
}
.header__menu-toggle {
  height: 30px;
  width: 30px;
  position: relative;
  top: .3em;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-right: 1.5em;
}
.header__menu-toggle:hover {
  color: $color_rojo;
}
.header__menu-toggle span,
.header__menu-toggle span::after,
.header__menu-toggle span::before {
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  right: 0;
  background: $color_rojo;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.header__menu-toggle span:after,
.header__menu-toggle span:before {
  content: '';
}
.header__menu-toggle span:after {
  top: -20px;
}
.header__menu-toggle span:before {
  top: -10px;
}
.header__menu-toggle span {
  top: 20px;
}

.header__menu-toggle.open span:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -15px;
}

.header__menu-toggle.open span:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -15px;
}
.header__nav{
  display: none;
}
.nav{
  width: 100%;
  background-color: $color_blanco;
  opacity: .95;
  padding-top: .5em;
  position: fixed;
  top: 60px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  left: -100%;
  &--hidden{
    left:0;
  }
}
.nav__ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav__li{
  padding: .2em;
  margin: 0 1em;
  border-bottom: 1px solid $color_rojo;
  &:last-child{
    border-bottom: none;
  }
}
.nav__a{
  display: block;
  color: $color_rojo;
  font-weight: 600;
  padding: .3em;
  margin: 0 .5em;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  &:hover{
    color: $color_bronce;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.modal{
  width:80%;
  height: auto;
  position:absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.6);
  opacity:0;
  color: $color_blanco;
  padding: 2em;
  letter-spacing: 5px;
  text-align: center;
  -webkit-animation: derecha 2s ease-in-out 0.3s forwards;
  -moz-animation: derecha 2s ease-in-out 0.3s forwards;
  animation: derecha 2s ease-in-out 0.3s forwards;
  @-webkit-keyframes derecha {
    0%{
      left:-100%;
      opacity:.2;

    }
    100%{
      left:50%;
      margin-left: -40%;
      opacity:1;
    }
  }
  @keyframes derecha {
    0%{
      left:-100%;
      opacity:.2;
    }
    100%{
      left:50%;
      margin-left: -40%;
      opacity:1;
    }
  }
}
.modal__video{
    color: $color_bronce;
    font-size: 1.195em;
    font-weight: 600;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    &:hover{
      color: $color_rojo;
    }
}
.modal__text-first{
  display: none;
}
.modal__text-second{
  line-height: 1.5;
}
/***** Services section *****/
.domus{
  background-color: $color_rojo;
  color: $color_blanco;
  padding-top: 1.9em;
  text-align: center;
  min-height: 100vh;
    &__title{
      text-transform: uppercase;
      color: $color_bronce;
      padding-top: 1em;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.7em;
    }
    &__container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  .map, .house, .tourism{
    text-align: center;
    padding: 1em 2em;
    margin-top: 2em;
    display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
  }
  .map__image, .house__image, .tourism__image{
    width: 7em;
  }
  .map__circle, .house__circle, .tourism__circle{
    border: 3px solid $color_bronce;
    border-radius: 50%;
    width: 10.5em;
    height: 10.5em;
    margin-bottom: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .house__image{
    margin-bottom: 1em;
  }
  .map__text, .house__text, .tourism__text{
    text-align: justify;
    line-height: 1.5;
  }
/***** Gallery Section *****/
.gallery{
  background-color: $color_rojo;
  color: $color_blanco;
  padding-top: 1em;
  text-align: center;
  &__title{
    text-transform: uppercase;
    color: $color_bronce;
    padding-top: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
  }
  &__text{
    padding: 1.5em 2em 2.5em 2em;
    line-height: 1.6;
  }
  &__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item{
    width: 85vw;
    height: 75vw;
    border: 1px solid #fffefe;
    margin-bottom: 1em;
    align-self: center;
  }
  &__img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
}


/***** Contact section *****/
.contact {
  background-color: $color_rojo;
  color: $color_blanco;
  padding-top: 1em;
  text-align: center;
  min-height: 90vh;
  &__title {
    text-transform: uppercase;
    color: $color_bronce;
    padding-top: 1.5em;
    padding-bottom: .5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
  }
  &__text{
    padding: 1.5em 2em;
    line-height: 1.6;
  }
  &__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2em 1em;
  }
  &__location, &__phone, &__email {
    padding: .5em 1.7em;
    font-size: .9em;
  }
  &__email{
    color: $color_bronce;
    background: url("../images/iconoMail.svg") no-repeat left;
    background-size: 0.9em;
  }
  &__phone{
    background: url("../images/whatsapp.svg") no-repeat left;
    background-size: 0.9em;
  }
  &__location{
    background: url("../images/iconoDirec.svg") no-repeat left;
    background-size: 0.9em;
  }
}
.form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  justify-content: center;
  &__map{
    max-width: 90%;
    overflow: hidden;
    margin-bottom: 2.5em;
    margin-top:1em;
    height: auto;
  }
  &__iframe{
    max-width: 100%;
    height: 300px;
  }
  &__contact{
    max-width: 90%;
  }
  &__item{
    margin-bottom: 1em;
    border: 1px solid $color_bronce;
    width:100%;
    padding: .6em .8em;
    box-sizing: border-box;
    border-radius: 2px;
    color: $color_gris;
    &:focus{
      box-shadow: inset 0 0 7px $color_bronce,
      0 0 10px $color_bronce;
      
      }
  }
  &__submit{
    background: $color_bronce;
    color: $color_blanco;
    padding: .5em 0 .6em 0;
    font-size: 1.3em;
    transition: all .5s ease-in-out;
    &:hover{
      background: $color_blanco;
      color: $color_bronce;
      box-shadow: inset 0 0 0 3px $color_bronce;
    }
  }
}

/**** Footer section *****/
.footer{
  padding: 1.5em 0;
  background-color: $color_gris;
  text-align: center;
  &__socials{
    margin-bottom: .8em;
  }
  &__email{
    color: $color_blanco;
    font-size: .9em;
    transition: color .5s ease-in-out;
    &--color:hover{
      color: $color_bronce;
    }
  }
  &__icon-facebook, &__icon-youtube{
    margin: 0 .3em;
  }
}
/*mensajes error formulario*/
.error{
  padding: .5em 0;
  margin: .5em 0 ;
  color: #FF7F00;
}
.form__item.error{
  padding-left: .5em;
}

/**** Media Queries *****/

@media screen and (min-width:550px) {
  .footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    &__email{
      padding: 0 1.5em;
    }
    &__socials{
      padding: 0 1.5em;
    }
  }
  .gallery__container{
    -webkit-box-orient: row;
    -webkit-box-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery__item{
      width: 46vw;
      height: 40vw;
      margin: .5em;
  }

}
@media screen and (min-width:800px) {
  .form{
    -webkit-box-orient: row;
    -webkit-box-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &__map{
      max-width: 45vw;
      margin: 0 0 1.3em 1em;
      height: 100%;
      height: auto;
      align-self: stretch;
    }
    &__iframe{
      height: 100%;
    }
    &__contact{
      max-width: 45vw;
      margin-right: 1em;
    }
  }
    /*** Contenedor servicios ***/
  .domus__container{
    -webkit-box-orient: row;
    -webkit-box-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .map, .house, .tourism{
    width: 49%;
  }
    /*** Menú principal ***/
  .header__menu-toggle, .nav{
    display: none;
  }
  
  .header__nav{
    display: block;
    padding-top: 0;
    width: auto;
    margin-right: 1em;
  }
  .header__ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__li{
    padding: 0 .5em;
    margin: 0;
    border-bottom: none;
    font-size: 1.250em;
    line-height: 1.5;

    &:last-child{
      border-bottom: none;
    }
  }
  .header__a{
    display: block;
    padding: 0 .5em;
    margin: 0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;  
    &:hover{
      -webkit-transform: scale(1.1);
            transform: scale(1.1);
      color: #FF7F00;
    }
  }
}
@media screen and (min-width:900px) {
    /*** galería de imágenes ***/
  .gallery__item{
    width: 30vw;
    height: 30vw;
  }
    /*** Servicios ***/
  .domus__container{
    justify-content: space-between;
  }
  .map, .house, .tourism{
    width: 33%;
    margin-top: 3em;
  }

    /*** Contacto ***/
  .contact__text{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  .contact__details{
    margin-bottom: 1em;
  }

    /*** header ***/
  .header{
    padding: .9em 0 1em 0;
    &__logo{
      margin-left: 2em;
      padding-left: 0;
    }
    &__nav{
      margin-right: 2em;
    }
    &__li{
      padding: 0 .5em;
      font-size: 1.375em;
    }
    &__a{
      padding: 0 .7em;
    }
  }
  /*** Títulos ***/
  .domus__title, .gallery_title{
    padding-top: 2.5em;
  }
  .contact__title{
    padding-top: 2.3em;
  }
  /*** Textos ***/
  .contact__text{
    padding: 1em 2em;
  }
  .modal{
    top: 40%;
  }
  .modal__text-first{
    display: block;
    margin-bottom: 1em;
  }
}

@media screen and (min-width:1062px) {
  /*** galería de imágenes ***/
  .gallery__item{
    width: 25vw;
    height: 25vw;
  }
}



