@import url('https://fonts.googleapis.com/css?family=Dosis:300,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto+Condensed');
@import 'variable.scss';
body{
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 1.188em;
  letter-spacing: 1.5px;
}
/***** Hero section *****/
.hero{
  background-color: $color_rojo;
  color: $color_blanco;
  min-height: 100vh;
  background: url("../images/casaHispano.jpg") no-repeat left center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.header{
  width:100%;
  height: 60px;
  position:fixed;
  top:0;
  -webkit-box-shadow:inset 0 -3px 4px -3px rgba(0, 0, 0, 0.2);
          box-shadow:inset 0 -3px 4px -3px rgba(0, 0, 0, 0.2);
  background-color: $color_blanco;
  color: $color_rojo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
  opacity: .95;
  z-index: 1;
}
.header__logo{
  width: 55px;
  height: auto;
  margin-left: 1em;
  margin-top: .3em;
}
.header__menu-toggle {
  height: 30px;
  width: 30px;
  position: relative;
  top: .3em;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-right: 1.5em;
}
.header__menu-toggle:hover {
  color: $color_rojo;
}
.header__menu-toggle span,
.header__menu-toggle span::after,
.header__menu-toggle span::before {
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  right: 0;
  background: $color_rojo;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.header__menu-toggle span:after,
.header__menu-toggle span:before {
  content: '';
}
.header__menu-toggle span:after {
  top: -20px;
}
.header__menu-toggle span:before {
  top: -10px;
}
.header__menu-toggle span {
  top: 20px;
}

.header__menu-toggle.open span:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -15px;
}

.header__menu-toggle.open span:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -15px;
}
.header__nav{
  display: none;
}
.nav{
  width: 100%;
  background-color: $color_blanco;
  opacity: .95;
  padding-top: .5em;
  position: fixed;
  top: 60px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  left: -100%;
  &--hidden{
    left:0;
  }
}
.nav__ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav__li{
  padding: .2em;
  margin: 0 1em;
  border-bottom: 1px solid $color_rojo;
  &:last-child{
    border-bottom: none;
  }
}
.nav__a{
  display: block;
  color: $color_rojo;
  font-weight: 600;
  padding: .3em;
  margin: 0 .5em;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  &:hover{
    color: $color_bronce;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.modal{
  width:80%;
  height: auto;
  position:absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.6);
  opacity:0;
  color: $color_blanco;
  padding: 2em;
  letter-spacing: 5px;
  text-align: justify;
  -webkit-animation: derecha 2s ease-in-out 0.3s forwards;
  -moz-animation: derecha 2s ease-in-out 0.3s forwards;
  animation: derecha 2s ease-in-out 0.3s forwards;
  @-webkit-keyframes derecha {
    0%{
      left:-100%;
      opacity:.2;

    }
    100%{
      left:50%;
      margin-left: -40%;
      opacity:1;
    }
  }
  @keyframes derecha {
    0%{
      left:-100%;
      opacity:.2;
    }
    100%{
      left:50%;
      margin-left: -40%;
      opacity:1;
    }
  }
}
.modal__video{
    color: $color_bronce;
    font-size: 1.195em;
    font-weight: 600;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    &:hover{
      color: $color_rojo;
    }
}
.modal__text-first{
  display: none;
}
.modal__text-second{
  line-height: 1.5;
}
/***** Services section *****/
.domus{
  background-color: $color_rojo;
  color: $color_blanco;
  padding-top: 1.9em;
  text-align: center;
  min-height: 100vh;
    &__title{
      text-transform: uppercase;
      color: $color_bronce;
      padding-top: 1em;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.7em;
    }
    &__container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  .map, .house, .tourism{
    text-align: center;
    padding: 1em 2em;
    margin-top: 2em;
    display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
  }
  .map__image, .house__image, .tourism__image{
    width: 7em;
  }
  .map__circle, .house__circle, .tourism__circle{
    border: 3px solid $color_bronce;
    border-radius: 50%;
    width: 10.5em;
    height: 10.5em;
    margin-bottom: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .house__image{
    margin-bottom: 1em;
  }
  .map__text, .house__text, .tourism__text{
    text-align: justify;
    line-height: 1.5;
  }
  .house__text_a{
    color: $color_bronce;
    font-size: 1.1em;
    font-weight: 600;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    &:active{
      color: $color_bronce;
    }
    &:hover{
      color: #000;
    }
  }
/***** Gallery Section *****/
.gallery{
  background-color: $color_rojo;
  color: $color_blanco;
  padding-top: 1em;
  text-align: center;
  &__title{
    text-transform: uppercase;
    color: $color_bronce;
    padding-top: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
  }
  &__text{
    padding: 1.5em 2em 2.5em 2em;
    line-height: 1.6;
    text-align: justify;
  }
  &__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item{
    width: 85vw;
    height: 75vw;
    border: 1px solid #fffefe;
    margin-bottom: 1em;
    align-self: center;
  }
  &__img{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
}
/***** Contact section *****/
.contact {
  background-color: $color_rojo;
  color: $color_blanco;
  padding-top: 1em;
  text-align: center;
  min-height: 90vh;
  &__title {
    text-transform: uppercase;
    color: $color_bronce;
    padding-top: 1.5em;
    padding-bottom: .5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
  }
  &__prices{
    padding: 1.5em;
    line-height: 1.6;
  }
  &__titlePrice{
    color: $color_bronce;
    padding-top: .1em;
    font-size: 1.3em;
  }
  &__listPrice{
    padding-top: .5em;
    //padding: .5em 0 0 1em;
  }
  &__list{
    padding-bottom: .8em;
    text-align: justify;
    &::before{
      background-color: $color_bronce;
      border-radius: 50%;
      content: "";
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 2px;
      height: 10px;
      width: 10px;
    }
  }
  &__text{
    margin-top: .5em;
    text-align: justify;
  }
  &__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
  }
  &__location, &__phone, &__email {
    padding: .7em 2em;
    font-size: .9em;
  }
  &__email{
    color: $color_bronce;
    background: url("../images/social_email.svg") no-repeat left;
    background-size: auto 22px;
  }
  &__phone{
    background: url("../images/whatsapp.svg") no-repeat left;
    background-size: auto 22px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    &:hover{
      color: $color_bronce;
    }
  }
  &__location{
    background: url("../images/iconoDirec.svg") no-repeat left;
    background-size: auto 22px;
  }
  &__dataMap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__data{
    max-width: 90%;
  }
  &__map{
    max-width: 90%;
    overflow: hidden;
    margin-bottom: 2.5em;
    margin-top:1em;
    height: auto;
  }
  &__iframe{
    max-width: 100%;
    height: 300px;
  }
}
/**** Footer section *****/
.footer{
  padding: 1.5em 0;
  background-color: $color_gris;
  text-align: center;
  &__socials{
    margin-bottom: .8em;
  }
  &__email{
    color: $color_blanco;
    font-size: .9em;
    transition: color .5s ease-in-out;
    &--color:hover{
      color: $color_bronce;
    }
  }
  &__icon-facebook, &__icon-youtube{
    margin: 0 .3em;
  }
}

/**** Media Queries *****/
@media screen and (min-width:550px) {
  /*** Footer ***/
  .footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    &__email{
      padding: 0 1.5em;
    }
    &__socials{
      padding: 0 1.5em;
    }
  }
  /*** Gallery ***/
  .gallery__container{
    -webkit-box-orient: row;
    -webkit-box-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery__item{
      width: 46vw;
      height: 40vw;
      margin: .5em;
  }
  /*** Contact ***/
  .contact__location, .contact__phone, .contact__email {
    padding: 1em 2.5em;
    font-size: 1em;
  }
  .contact__email{
    color: $color_bronce;
    background: url("../images/social_email.svg") no-repeat left;
    background-size: auto 30px;
  }
  .contact__phone{
    background: url("../images/whatsapp.svg") no-repeat left;
    background-size: auto 30px;
  }
  .contact__location{
    background: url("../images/iconoDirec.svg") no-repeat left;
    background-size: auto 30px;
  }

}
@media screen and (min-width:800px) {
  /*** Contact ***/
  .contact{
    min-height: 83vh;
    &__title{
      padding-bottom: 0;
      margin-bottom: 3em;
    }
    &__dataMap{
      -webkit-box-orient: row;
      -webkit-box-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 3em;
    }
    &__data{
      order: 2;
      max-width: 45vw;
      margin-right: 1em;
    }
    &__prices{
      padding: 0;
      margin:0;
      margin-top: -.5em;
      text-align: justify;
    }
    &__listPrice{
      padding: .5em 0 0 1em;
    }
    &__details{
      margin-bottom: 0;
      align-items: flex-start;
    }
    &__location::before{
      content: "";
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      color: red;
}
    &__location, &__phone, &__email {
      padding: 1em 3em;
    }
    &__email{
      color: $color_bronce;
      background: url("../images/social_email.svg") no-repeat left;
      background-size: auto 32px;
    }
    &__phone{
      background: url("../images/whatsapp.svg") no-repeat left;
      background-size: auto 32px;
    }
    &__location{
      background: url("../images/iconoDirec.svg") no-repeat left;
      background-size: auto 32px;
    }
    &__map{
      order: 1;
      max-width: 45vw;
      margin:0 0 0 1em;
      height: 100%;
      height: auto;
      align-self: stretch;
    }
    &__iframe{
      height: 100%;
    }
  }
  /*** Services container ***/
  .domus__container{
    -webkit-box-orient: row;
    -webkit-box-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .map, .house, .tourism{
    width: 49%;
  }
  /*** Header ***/
  .header__menu-toggle, .nav{
    display: none;
  }
  .header__nav{
    display: block;
    padding-top: 0;
    width: auto;
    margin-right: 1em;
  }
  .header__ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__li{
    padding: 0 .5em;
    margin: 0;
    border-bottom: none;
    font-size: 1.250em;
    line-height: 1.5;

    &:last-child{
      border-bottom: none;
    }
  }
  .header__a{
    display: block;
    padding: 0 .5em;
    margin: 0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;  
    &:hover{
      -webkit-transform: scale(1.1);
            transform: scale(1.1);
      color: #FF7F00;
    }
  }
}
@media screen and (min-width:900px) {
  /*** Gallery ***/
  .gallery__item{
    width: 30vw;
    height: 30vw;
  }
  /*** Services ***/
  .domus__container{
    justify-content: space-between;
  }
  .map, .house, .tourism{
    width: 33%;
    margin-top: 3em;
  }
  /*** Header ***/
  .header{
    padding: .9em 0 1em 0;
    &__logo{
      margin-left: 2em;
      padding-left: 0;
    }
    &__nav{
      margin-right: 2em;
    }
    &__li{
      padding: 0 .5em;
      font-size: 1.375em;
    }
    &__a{
      padding: 0 .7em;
    }
  }
  /*** Títles ***/
  .domus__title, .gallery_title, .contact__title{
    padding-top: 2.5em;
  }
  /*** Texts ***/
  .modal{
    top: 40%;
  }
  .modal__text-first{
    display: block;
    margin-bottom: 1em;
  }
  /*** Contact ***/
  .contact{
    min-height: 85vh;
  }
}
@media screen and (min-width:1200px) {
  /*** Contact ***/
  .contact{
    min-height: 90vh;
    &__email{
      color: $color_bronce;
      background: url("../images/social_email.svg") no-repeat left;
      background-size: auto 36px;

    }
    &__phone{
      background: url("../images/whatsapp.svg") no-repeat left;
      background-size: auto 36px;
    }
    &__location{
      background: url("../images/iconoDirec.svg") no-repeat left;
      background-size: auto 36px;
    }
    &__prices{
      padding-bottom: 1em;
      line-height: 1.6;
      width: 80%;
    }
  }
}
@media screen and (min-width:1500px) {
  /*** Contact ***/
  .contact__prices, .gallery__text{
    font-size: 1.2em;
  }
}